* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 0 150px;
    background-color: rgba(189, 189, 189, 0.808);
}
.navbar{
    display: flex;
    height: 110px;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo{

}
.navbar .logo a{
text-decoration: none;
font-size: 30px;
font-weight: bolder; 

}
.navbar ul{

    display: flex;
    list-style-type: none;
    gap: 60px;

}
.navbar li{
    font-size: 20px;
}